html {
  min-height: 100%;
}

body {
  background: #fff;
  /*background: linear-gradient(hsl(0,0%,19%), hsl(0,0%,30%) 30%);*/
  color: hsl(0,0%,10%);
}

/***** List Styles *****/

ul {
  list-style: none;
  padding-left: 0;
}
/***** Link Styles *****/

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

a:hover {
  opacity: 0.5;
}

a:visited {
  color: inherit;
}
