body {
  font-family: 'Lato', sans-serif;
  }

/***** List Styles *****/

ul {
  list-style: none;
  padding-left: 0;
}
/***** Link Styles *****/

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

a:visited {
  color: inherit;
}
