body {
margin-left: 5%;
margin-right: 5%;
}

header {
  border-bottom: 1px solid #000;
}

h1 {
  margin: 0.3em 0;
}

h2 {
  font-size: 1.4em;
  margin: 0;
}

main {
  padding: 0 0.5em 0.75em 0.5em;
}

footer {
  border-top: 1px solid #000;
  margin-bottom: 1em;
  text-align: center;
  padding-top: 1em;
}

.tab {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.dateline {
  font-size: 0.8em;
  margin-top: 1em;
}

@media only screen and (min-width: 480px) {

  header {
    text-align: center;
  }

  header,
  footer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    max-width: 640px;
    margin: 0 auto;
  }

  .tab {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  h1 {
    font-size: 2.2em;
    margin: 0.5em 0;
  }

  h2 {
    font-size: 1.5em;
  }

}
