.header-headings {
  text-transform: uppercase;
}

#menuburger:hover ~ ul {
  display: block;
  list-style: none;
}

.tab {
  font-size: 1.2em;
  text-transform: uppercase;
}

.menu-items {
  display: none;
}

.icons li {
  display: inline-block;
  padding-right: 1em;
}

.project {
  padding-bottom: 1em;
  border-bottom: 1px solid hsl(200,50%,89%);
}

.project:nth-last-of-type(1) {
  border: none;
}

.read-more {
  font-size: 0.8em;
}

.template {
  display: none;
}

#about li {
  list-style: disc outside;
  margin-left: 1em;
}

@media only screen and (min-width: 480px) {

  #menuburger {
    display: none;
  }

  .menu-items {
    display: block;
  }

  header {
    text-align: center;
  }

  header,
  footer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    max-width: 640px;
    margin: 0 auto;
  }

  .tab {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  h1 {
    font-size: 2.2em;
    margin: 0.5em 0;
  }

  h2 {
    font-size: 1.5em;
  }
}
